<settings>
    <setting id="audioSize" value="0" />
    <setting id="audiotype" value="0" />
    <setting id="cache" value="true" />
    <setting id="channelShelf" value="true" />
    <setting id="channelview" value="false" />
    <setting id="client_id" value="a4d98aa8-407e-425a-aa54-bd17cef3cd92" />
    <setting id="contentFilter" value="Adults" />
    <setting id="contentNone" value="Adults" />
    <setting id="contextreplace" value="false" />
    <setting id="debug" value="0" />
    <setting id="devicename" value="My PleXBMC Client" />
    <setting id="disable_all_season" value="false" />
    <setting id="discovery" value="1" />
    <setting id="ep_view_0" value="None" />
    <setting id="ep_view_1" value="None" />
    <setting id="ep_view_2" value="None" />
    <setting id="ep_view_3" value="None" />
    <setting id="ep_view_4" value="None" />
    <setting id="flatten" value="0" />
    <setting id="forcedvd" value="false" />
    <setting id="fullres_fanart" value="true" />
    <setting id="fullres_thumbs" value="false" />
    <setting id="hide_shared" value="true" />
    <setting id="hide_watched_recent_items" value="false" />
    <setting id="homeshelf" value="2" />
    <setting id="ipaddress" value="localhost" />
    <setting id="kodicache" value="false" />
    <setting id="libraryfilter" value="" />
    <setting id="managemyplex" value="" />
    <setting id="masterServer" value="" />
    <setting id="mo_view_0" value="None" />
    <setting id="mo_view_1" value="None" />
    <setting id="mo_view_2" value="None" />
    <setting id="mo_view_3" value="None" />
    <setting id="mo_view_4" value="None" />
    <setting id="monitoroff" value="false" />
    <setting id="movieShelf" value="true" />
    <setting id="mu_view_0" value="None" />
    <setting id="mu_view_1" value="None" />
    <setting id="mu_view_2" value="None" />
    <setting id="mu_view_3" value="None" />
    <setting id="mu_view_4" value="None" />
    <setting id="musicShelf" value="true" />
    <setting id="nasoverride" value="false" />
    <setting id="nasoverrideip" value="" />
    <setting id="naspass" value="" />
    <setting id="nasroot" value="" />
    <setting id="nasuserid" value="" />
    <setting id="port" value="32400" />
    <setting id="prefer_season_thumbs" value="false" />
    <setting id="quality_leg" value="0" />
    <setting id="quality_uni" value="420x420, 320Kbps" />
    <setting id="se_view_0" value="None" />
    <setting id="se_view_1" value="None" />
    <setting id="se_view_2" value="None" />
    <setting id="se_view_3" value="None" />
    <setting id="se_view_4" value="None" />
    <setting id="secondary" value="true" />
    <setting id="selectMaster" value="" />
    <setting id="skinname" value="0" />
    <setting id="skinoverride" value="false" />
    <setting id="skipcontextmenus" value="false" />
    <setting id="skipflags" value="false" />
    <setting id="skipimages" value="false" />
    <setting id="skipmetadata" value="false" />
    <setting id="streamControl" value="1" />
    <setting id="streaming" value="0" />
    <setting id="subSize" value="100" />
    <setting id="transcode" value="false" />
    <setting id="transcode_type" value="universal" />
    <setting id="tvShelf" value="true" />
    <setting id="tv_view_0" value="None" />
    <setting id="tv_view_1" value="None" />
    <setting id="tv_view_2" value="None" />
    <setting id="tv_view_3" value="None" />
    <setting id="tv_view_4" value="None" />
    <setting id="wol1" value="" />
    <setting id="wol10" value="" />
    <setting id="wol11" value="" />
    <setting id="wol2" value="" />
    <setting id="wol3" value="" />
    <setting id="wol4" value="" />
    <setting id="wol5" value="" />
    <setting id="wol6" value="" />
    <setting id="wol7" value="" />
    <setting id="wol8" value="" />
    <setting id="wol9" value="" />
    <setting id="wolon" value="false" />
</settings>
