<settings>
    <setting id="noshowcaseflow" type="bool">false</setting>
    <setting id="oscars500" type="bool">false</setting>
    <setting id="coloredflags" type="bool">false</setting>
    <setting id="Enable.AutoScroll" type="bool">false</setting>
    <setting id="Enable.LowList.SlidingMovieSetDiscart" type="bool">false</setting>
    <setting id="Enable.Wall.Cases" type="bool">false</setting>
    <setting id="oscars57small" type="bool">false</setting>
    <setting id="Enable.Shift.Covers" type="bool">false</setting>
    <setting id="rightlistalternateseasons" type="bool">false</setting>
    <setting id="lowlistlogo" type="bool">false</setting>
    <setting id="noindicatorgallerymovies" type="bool">false</setting>
    <setting id="Enable.BlurredVideoInfo" type="bool">false</setting>
    <setting id="alternatelayoutepisode" type="bool">false</setting>
    <setting id="Enable.Wall.FloorInfo.seasons" type="bool">false</setting>
    <setting id="noindicatorbiglistepisode" type="bool">false</setting>
    <setting id="oscars57" type="bool">false</setting>
    <setting id="showcasemod" type="bool">false</setting>
    <setting id="Enable.MPAAInfoRating" type="bool">false</setting>
    <setting id="lowlistimdblogo" type="bool">false</setting>
    <setting id="Enable.Shift.Small" type="bool">false</setting>
    <setting id="Disable.BoxsetBrochure" type="bool">false</setting>
    <setting id="rightlistalternate" type="bool">false</setting>
    <setting id="Enable.Landscape.Logo" type="bool">false</setting>
    <setting id="noindicatorbiglist" type="bool">false</setting>
    <setting id="inforightlist" type="bool">false</setting>
    <setting id="Enable.MyFlix.Cases" type="bool">false</setting>
    <setting id="Enable.Rightlist.HidePoster.episodes" type="bool">false</setting>
    <setting id="rightlistcovers" type="bool">false</setting>
    <setting id="Enable.Logo.clearart" type="bool">false</setting>
    <setting id="noindicatorlandscape" type="bool">false</setting>
    <setting id="Enable.Wall.Logo" type="bool">false</setting>
    <setting id="oscars507" type="bool">false</setting>
    <setting id="oscars503" type="bool">false</setting>
    <setting id="Enable.Rightlist.HidePoster.tvshows" type="bool">false</setting>
    <setting id="wallfloorlabelsalbums" type="bool">false</setting>
    <setting id="boxsetmod" type="bool">false</setting>
    <setting id="noextendedinfotvshows" type="bool">false</setting>
    <setting id="togglelowlistcovers" type="bool">false</setting>
    <setting id="Disable.UnwatchedIcon" type="bool">false</setting>
    <setting id="Enable.Wall.FloorInfo.tvshows" type="bool">false</setting>
    <setting id="noindicatorshowcase" type="bool">false</setting>
    <setting id="Disable.PlayerControlButtons" type="bool">false</setting>
    <setting id="rightlistalternatetv" type="bool">false</setting>
    <setting id="noindicatorfanartlistmovies" type="bool">false</setting>
    <setting id="oscars504" type="bool">false</setting>
    <setting id="rightlistlogotv" type="bool">false</setting>
    <setting id="noindicatorfanartlistepisodes" type="bool">false</setting>
    <setting id="oscars609" type="bool">false</setting>
    <setting id="Enable.Shift.IMDb" type="bool">false</setting>
    <setting id="discrightlist" type="bool">false</setting>
    <setting id="Enable.MyFlix.EpisodeLogo" type="bool">false</setting>
    <setting id="Enable.Showcase.TVShowGenre" type="bool">false</setting>
    <setting id="highlistlogo" type="bool">false</setting>
    <setting id="oscars505" type="bool">false</setting>
    <setting id="oscars591" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.seasons" type="bool">false</setting>
    <setting id="Enable.MyFlix.OpenCase" type="bool">false</setting>
    <setting id="Enable.ShowCase.Logo" type="bool">false</setting>
    <setting id="Enable.Rightlist.HidePoster.Movies" type="bool">false</setting>
    <setting id="Enable.Wall.FloorInfo.movies" type="bool">false</setting>
    <setting id="oscars501" type="bool">false</setting>
    <setting id="rightlistlogomovie" type="bool">false</setting>
    <setting id="Enable.Wall.MovieGenre" type="bool">false</setting>
    <setting id="rightlistalternateepisode" type="bool">false</setting>
    <setting id="bigfanimdblogo" type="bool">false</setting>
    <setting id="Enable.Rightlist.HidePoster.seasons" type="bool">false</setting>
    <setting id="Enable.MyFlix.TVLandscape" type="bool">false</setting>
    <setting id="Disable.Landscape.NextAired.episodes" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.tvshows" type="bool">false</setting>
    <setting id="Enable.Logo.MovieSetList" type="bool">false</setting>
    <setting id="Enable.Wall.SeasonGenre" type="bool">false</setting>
    <setting id="Enable.Landscape.TVShowGenre" type="bool">false</setting>
    <setting id="Enable.MyFlix.TVLogo" type="bool">false</setting>
    <setting id="Enable.Showcase.MovieGenre" type="bool">false</setting>
    <setting id="Enable.AlternateInfowall" type="bool">false</setting>
    <setting id="Disable.MyFlix.Mediaflags" type="bool">false</setting>
    <setting id="Disable.Videoinfo" type="bool">false</setting>
    <setting id="Enable.Wall.FloorInfo.programs" type="bool">false</setting>
    <setting id="Enable.Shift.Oscar" type="bool">false</setting>
    <setting id="noextendedinfomovies" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.movies" type="bool">false</setting>
    <setting id="Enable.MyFlix.MovieLogo" type="bool">false</setting>
    <setting id="imdblogo" type="bool">false</setting>
    <setting id="Enable.Showcase.SeasonGenre" type="bool">false</setting>
    <setting id="discartoninfo" type="bool">false</setting>
    <setting id="hidevizbehindfanart" type="bool">false</setting>
    <setting id="nohighlistgame" type="bool">false</setting>
    <setting id="Disable.Resumable" type="bool">false</setting>
    <setting id="Enable.SlimList" type="bool">false</setting>
    <setting id="Disable.Extrafanart" type="bool">false</setting>
    <setting id="Enable.Landscape.FloorInfo.episodes" type="bool">false</setting>
    <setting id="Disable.SearchButton" type="bool">false</setting>
    <setting id="Enable.Set.LiveBackground" type="bool">false</setting>
    <setting id="nocoloredoverlay" type="bool">false</setting>
    <setting id="Enable.Landscape.SeasonGenre" type="bool">false</setting>
    <setting id="Enable.Shift.Discart" type="bool">false</setting>
    <setting id="oscarlogo" type="bool">false</setting>
    <setting id="Enable.Wall.TVShowGenre" type="bool">false</setting>
    <setting id="Enable.Landscape.MovieGenre" type="bool">false</setting>
    <setting id="Disable.RightList.Mediaflags" type="bool">false</setting>
    <setting id="Disable.ShowBackgroundVis" type="bool">false</setting>
    <setting id="Disable.ScrollLabel" type="bool">false</setting>
    <setting id="infobar_hidetuners" type="bool">false</setting>
    <setting id="Enable.AnimatedBackgrounds" type="bool">false</setting>
    <setting id="Disable.Musicinfo" type="bool">false</setting>
    <setting id="lowermainmenu" type="bool">true</setting>
    <setting id="Enable.ReplaceExtendedInfo" type="bool">false</setting>
    <setting id="useclearcases" type="bool">false</setting>
    <setting id="Enable.AutoOpenMediaMenuOnMouseOver" type="bool">false</setting>
    <setting id="Disable.ShowBackgroundVideo" type="bool">false</setting>
    <setting id="Enable.InfoWall.Banners" type="bool">false</setting>
    <setting id="Enable.ShowCase.Covers" type="bool">false</setting>
    <setting id="KioskMode.Enabled" type="bool">false</setting>
    <setting id="Enable.HourMinuteDuration" type="bool">false</setting>
    <setting id="alternatebiglistlayout" type="bool">false</setting>
    <setting id="Enable.ExtendedMPAA" type="bool">false</setting>
    <setting id="Disable.NextAired" type="bool">true</setting>
    <setting id="launchmusicfullscreen" type="bool">false</setting>
    <setting id="Enable.CasesLiveBG" type="bool">false</setting>
    <setting id="Disable.Fanart" type="bool">false</setting>
    <setting id="HomeMenuNavVar" type="bool">false</setting>
    <setting id="nohighlist" type="bool">false</setting>
    <setting id="HorizontalListNav" type="bool">false</setting>
    <setting id="Enable.ScreenshotMode" type="bool">false</setting>
    <setting id="VideoInfoPlotToggle" type="bool">false</setting>
    <setting id="Enable.HideRatings" type="bool">false</setting>
    <setting id="ShowPlotCast" type="bool">false</setting>
    <setting id="infobar_hidesignalinfo" type="bool">false</setting>
    <setting id="Enable.VisibleSubmenu" type="bool">true</setting>
    <setting id="disclowlist" type="bool">false</setting>
    <setting id="infobar_hidetencrypt" type="bool">false</setting>
    <setting id="Disable.Autocomplete" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="oscars499" type="bool">false</setting>
    <setting id="Enable.ArtistSlideshowOnHome" type="bool">false</setting>
    <setting id="57.NoTopBar" type="string"></setting>
    <setting id="700.tvshows.ViewFloorStatus" type="string"></setting>
    <setting id="700.NoTopBar" type="string"></setting>
    <setting id="WeatherFanartDir" type="string">http://aeon-nox-background-packs.googlecode.com/svn/trunk/weather-fanart/default/</setting>
    <setting id="CustomDefaultBackground" type="string">C:\Users\home\AppData\Roaming\Kodi\addons\skin.aeon.nox.silvo\backgrounds\defaut_bg.jpg</setting>
    <setting id="53.NoTopBar" type="string"></setting>
    <setting id="499.NoTopBar" type="string"></setting>
    <setting id="System.Fallback" type="string"></setting>
    <setting id="Trailer.Button" type="string"></setting>
    <setting id="592.NoTopBar" type="string"></setting>
    <setting id="609.NoTopBar" type="string"></setting>
    <setting id="51.Movies.DisableOverlay" type="string"></setting>
    <setting id="501.NoTopBar" type="string"></setting>
    <setting id="53.Sets.InfoPanel" type="string"></setting>
    <setting id="Showcase.Delay" type="string"></setting>
    <setting id="pathlogosartists" type="string"></setting>
    <setting id="VideoGenreFanartPath" type="string"></setting>
    <setting id="601.NoTopBar" type="string"></setting>
    <setting id="52.TV.DisableOverlay" type="string"></setting>
    <setting id="700.movies.ViewFloorStatus" type="string"></setting>
    <setting id="609.Movies.DisableOverlay" type="string"></setting>
    <setting id="53.Sets.DisableOverlay" type="string"></setting>
    <setting id="VideoOSDImages" type="string"></setting>
    <setting id="52.NoTopBar" type="string"></setting>
    <setting id="57.TVShows.InfoPanel" type="string"></setting>
    <setting id="54.NoTopBar" type="string"></setting>
    <setting id="601.TVShows.InfoPanel" type="string"></setting>
    <setting id="591.NoTopBar" type="string"></setting>
    <setting id="MusicGenreFanartPath" type="string"></setting>
    <setting id="52.Seasons.InfoPanel" type="string"></setting>
    <setting id="609.Sets.DisableOverlay" type="string"></setting>
    <setting id="52.Sets.InfoPanel" type="string"></setting>
    <setting id="53.Movies.MediaflagsLayout" type="string"></setting>
    <setting id="500.Sets.DisableOverlay" type="string"></setting>
    <setting id="53.Seasons.DisableOverlay" type="string"></setting>
    <setting id="499.TV.DisableOverlay" type="string"></setting>
    <setting id="52.Episodes.DisableOverlay" type="string"></setting>
    <setting id="VerticalMenuRSS.Position" type="string"></setting>
    <setting id="53.Movies.InfoPanel" type="string"></setting>
    <setting id="700.seasons.ViewFloorStatus" type="string"></setting>
    <setting id="MyFlix.Delay" type="string"></setting>
    <setting id="57.Seasons.InfoPanel" type="string"></setting>
    <setting id="53.TV.DisableOverlay" type="string"></setting>
    <setting id="52.Episodes.InfoPanel" type="string"></setting>
    <setting id="502.NoTopBar" type="string"></setting>
    <setting id="TriPanelLayout" type="string"></setting>
    <setting id="InfoPanel.Delay" type="string"></setting>
    <setting id="56.NoTopBar" type="string"></setting>
    <setting id="57.Sets.InfoPanel" type="string"></setting>
    <setting id="52.Movies.DisableOverlay" type="string"></setting>
    <setting id="LiveTV.InfobarType" type="string"></setting>
    <setting id="52.TVShows.InfoPanel" type="string"></setting>
    <setting id="500.Seasons.DisableOverlay" type="string"></setting>
    <setting id="58.Movies.DisableOverlay" type="string"></setting>
    <setting id="503.TV.MediaflagsLayout" type="string"></setting>
    <setting id="52.Movies.MediaflagsLayout" type="string"></setting>
    <setting id="701.Movies.DisableOverlay" type="string"></setting>
    <setting id="MainMenu.Layout" type="string"></setting>
    <setting id="503.NoTopBar" type="string"></setting>
    <setting id="700.episodes.ViewFloorStatus" type="string"></setting>
    <setting id="503.Seasons.DisableOverlay" type="string"></setting>
    <setting id="53.Seasons.MediaflagsLayout" type="string"></setting>
    <setting id="59.NoTopBar" type="string"></setting>
    <setting id="Movies.Fallback" type="string"></setting>
    <setting id="499.Movies.DisableOverlay" type="string"></setting>
    <setting id="504.NoTopBar" type="string"></setting>
    <setting id="701.NoTopBar" type="string"></setting>
    <setting id="601.Movies.InfoPanel" type="string"></setting>
    <setting id="CinemaVision.Button" type="string"></setting>
    <setting id="503.Seasons.MediaflagsLayout" type="string"></setting>
    <setting id="Apps.Fallback" type="string"></setting>
    <setting id="500.Movies.DisableOverlay" type="string"></setting>
    <setting id="503.Movies.MediaflagsLayout" type="string"></setting>
    <setting id="53.TV.MediaflagsLayout" type="string"></setting>
    <setting id="508.NoTopBar" type="string"></setting>
    <setting id="57.Movies.InfoPanel" type="string"></setting>
    <setting id="Seekbar.RightLabel" type="string"></setting>
    <setting id="503.TV.DisableOverlay" type="string"></setting>
    <setting id="53.TVShows.InfoPanel" type="string"></setting>
    <setting id="Overlay.Toggle" type="string"></setting>
    <setting id="52.TV.MediaflagsLayout" type="string"></setting>
    <setting id="RSS.Position" type="string">High</setting>
    <setting id="53.Movies.DisableOverlay" type="string"></setting>
    <setting id="52.Episodes.MediaflagsLayout" type="string"></setting>
    <setting id="601.TV.DisableOverlay" type="string"></setting>
    <setting id="52.Movies.InfoPanel" type="string"></setting>
    <setting id="53.Seasons.InfoPanel" type="string"></setting>
    <setting id="TVShows.Fallback" type="string"></setting>
    <setting id="59.TV.MediaflagsLayout" type="string"></setting>
    <setting id="609.TV.DisableOverlay" type="string"></setting>
    <setting id="VerticalMenuSystemBar.Position" type="string"></setting>
    <setting id="MusicVideos.Fallback" type="string"></setting>
    <setting id="Videos.Fallback" type="string"></setting>
    <setting id="505.NoTopBar" type="string"></setting>
    <setting id="58.TV.DisableOverlay" type="string"></setting>
    <setting id="601.Movies.DisableOverlay" type="string"></setting>
    <setting id="701.TV.DisableOverlay" type="string"></setting>
    <setting id="500.TV.DisableOverlay" type="string"></setting>
    <setting id="701.Episodes.DisableOverlay" type="string"></setting>
    <setting id="59.Movies.MediaflagsLayout" type="string"></setting>
    <setting id="503.Movies.DisableOverlay" type="string"></setting>
    <setting id="51.TV.DisableOverlay" type="string"></setting>
</settings>
