<settings>
    <setting id="furniture.nowplaying" type="bool">false</setting>
    <setting id="52biglist.singlepane" type="bool">false</setting>
    <setting id="home.dontshowfanart" type="bool">true</setting>
    <setting id="NextAired.Update" type="bool">false</setting>
    <setting id="55wall.hideinfo" type="bool">false</setting>
    <setting id="furniture.clock" type="bool">false</setting>
    <setting id="home.showweatherfanart" type="bool">false</setting>
    <setting id="indicators.unwatched" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Custom1" type="bool">true</setting>
    <setting id="UpdateArt.Enabled" type="bool">false</setting>
    <setting id="global.hidecirles" type="bool">false</setting>
    <setting id="indicators.resume" type="bool">false</setting>
    <setting id="ArtistSlideShow.Disabled" type="bool">false</setting>
    <setting id="54banner.showinfo" type="bool">false</setting>
    <setting id="weather.hidefanart" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Custom4" type="bool">true</setting>
    <setting id="furniture.header" type="bool">false</setting>
    <setting id="51bigwide.showinfo" type="bool">false</setting>
    <setting id="osd.usetheme" type="bool">true</setting>
    <setting id="53poster.nowrap" type="bool">false</setting>
    <setting id="home.vertical" type="bool">false</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Custom3" type="bool">false</setting>
    <setting id="Fanart.Animate" type="bool">false</setting>
    <setting id="ArtistSlideshow.Animate" type="bool">false</setting>
    <setting id="home.classicwidgets" type="bool">false</setting>
    <setting id="ShowClearArtOSD" type="bool">true</setting>
    <setting id="ActivateTvTunes" type="bool">false</setting>
    <setting id="skinshortcuts-background" type="bool">true</setting>
    <setting id="skinshortcuts-widget-RecentMovies" type="bool">false</setting>
    <setting id="furniture.logo" type="bool">false</setting>
    <setting id="global.showvisualisation" type="bool">false</setting>
    <setting id="furniture.overlayinfo" type="bool">false</setting>
    <setting id="home.showheader" type="bool">false</setting>
    <setting id="furniture.numericrating" type="bool">false</setting>
    <setting id="home.submenu2" type="bool">false</setting>
    <setting id="home.showicons" type="bool">false</setting>
    <setting id="hide.busydialog" type="bool">true</setting>
    <setting id="skinshortcuts-widget-AiringTodayTvShows" type="bool">false</setting>
    <setting id="startup.init" type="bool">true</setting>
    <setting id="55wall.showposter" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Custom2" type="bool">true</setting>
    <setting id="furniture.flagicons" type="bool">false</setting>
    <setting id="furniture.topweather" type="bool">false</setting>
    <setting id="56media.low" type="bool">false</setting>
    <setting id="weather.useflaticons" type="bool">false</setting>
    <setting id="furniture.weather" type="bool">false</setting>
    <setting id="50list.low" type="bool">false</setting>
    <setting id="global.showvideo" type="bool">true</setting>
    <setting id="OSDVisualisation.ShowFanart" type="bool">false</setting>
    <setting id="home.dontautoshowwidget" type="bool">false</setting>
    <setting id="show.reflections" type="bool">true</setting>
    <setting id="50list.showplot" type="bool">false</setting>
    <setting id="global.kioskmode" type="bool">false</setting>
    <setting id="osd.alwaysshowmusicosd" type="bool">true</setting>
    <setting id="56media.showinfo" type="bool">true</setting>
    <setting id="55wall.showinfo" type="bool">false</setting>
    <setting id="indicators.new" type="bool">false</setting>
    <setting id="furniture.flags" type="bool">false</setting>
    <setting id="global.hidefanart" type="bool">false</setting>
    <setting id="indicators.watched" type="bool">false</setting>
    <setting id="osd.showinfoonpause" type="bool">true</setting>
    <setting id="57list.low" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="skinshortcuts-widget-2" type="string">Custom2</setting>
    <setting id="skinshortcuts-widget-3" type="string">Custom4</setting>
    <setting id="fanart.fallback" type="string">special://userdata\backgrounds\default.jpg</setting>
    <setting id="CustomWidget2" type="string">plugin://plugin.video.genesis/?action=tvshows&amp;url=popular</setting>
    <setting id="MovieHubWidget" type="string"></setting>
    <setting id="CustomWidget4" type="string"></setting>
    <setting id="CustomWidget1" type="string">plugin://plugin.video.genesis/?action=movies&amp;url=theaters</setting>
    <setting id="CustomWidget3" type="string">plugin://plugin.video.genesis/?action=tvshows&amp;url=traktcollection</setting>
    <setting id="focuscolor.name" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">Custom1</setting>
    <setting id="TVHubWidget" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">Custom4</setting>
    <setting id="home.slideshowpath" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">Custom4</setting>
    <setting id="StartupPlaylist" type="string"></setting>
    <setting id="skinshortcuts-widget-6" type="string">Custom4</setting>
    <setting id="weather.fanart" type="string"></setting>
    <setting id="busyloader" type="string">special://skin/extras/spinners/fillingring.gif</setting>
</settings>
