<settings>
    <setting id="Disable.ShowBackgroundVideo" type="bool">false</setting>
    <setting id="Disable.NextAired" type="bool">false</setting>
    <setting id="Enable.SlimList" type="bool">false</setting>
    <setting id="sideblade_hiderecordings" type="bool">false</setting>
    <setting id="mainmenuicons" type="bool">false</setting>
    <setting id="Enable.AutoScroll" type="bool">true</setting>
    <setting id="lowermainmenu" type="bool">true</setting>
    <setting id="biggergap" type="bool">false</setting>
    <setting id="Use_Startup_Playlist" type="bool">true</setting>
    <setting id="VideoInfoPlotToggle" type="bool">false</setting>
    <setting id="infobar_hidetuners" type="bool">false</setting>
    <setting id="Enable.HideRatings" type="bool">false</setting>
    <setting id="sideblade_hideepgtimeline" type="bool">false</setting>
    <setting id="Disable.ShowBackgroundVis" type="bool">false</setting>
    <setting id="Enable.TvTunes" type="bool">false</setting>
    <setting id="nohighlist" type="bool">false</setting>
    <setting id="Disable.Fanart" type="bool">false</setting>
    <setting id="Disable.Videoinfo" type="bool">false</setting>
    <setting id="Disable.UnwatchedIcon" type="bool">false</setting>
    <setting id="infobar_hidetencrypt" type="bool">false</setting>
    <setting id="sideblade_hidetimer" type="bool">false</setting>
    <setting id="Disable.Musicinfo" type="bool">false</setting>
    <setting id="HorizontalListNav" type="bool">false</setting>
    <setting id="sideblade_hidesearch" type="bool">false</setting>
    <setting id="Disable.Resumable" type="bool">false</setting>
    <setting id="Detach.RSS" type="bool">false</setting>
    <setting id="infobar_hidesignalinfo" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="KioskMode.Enabled" type="bool">false</setting>
    <setting id="VideosHomeItem.Label" type="string">Favorites</setting>
    <setting id="MusicGenreFanartPath" type="string"></setting>
    <setting id="PicturesHomeItem.WidgetType" type="string">1</setting>
    <setting id="MusicVideoHomeItem.BGType" type="string">2</setting>
    <setting id="52.Seasons.InfoPanel" type="string"></setting>
    <setting id="52.Episodes.InfoPanel" type="string"></setting>
    <setting id="FavoritesHomeItem.Icon" type="string"></setting>
    <setting id="Custom2HomeItem.Label" type="string">FTV GUIDE</setting>
    <setting id="MovieHomeItem.BGType" type="string">2</setting>
    <setting id="SettingsHomeItem.InfoLine" type="string"></setting>
    <setting id="TVShowHomeItem.MultiFanart" type="string">special://home/media/Nox/tv/</setting>
    <setting id="SettingsHomeItem.WidgetLabel" type="string"></setting>
    <setting id="MusicVideoHomeItem.SubMenu" type="string"></setting>
    <setting id="MusicHomeItem.Icon" type="string"></setting>
    <setting id="Custom2HomeItem.Path" type="string">RunAddOn(script.ftvguide)</setting>
    <setting id="TVShowHomeItem.Label" type="string">TV SHOWS</setting>
    <setting id="MusicVideoHomeItem.Widget" type="string"></setting>
    <setting id="ShutdownHomeItem.SubMenu" type="string"></setting>
    <setting id="MusicVideoHomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom2HomeItem.MultiFanart" type="string">special://home/media/Nox/guide.jpg</setting>
    <setting id="LiveTVHomeItem.WidgetLabel" type="string"></setting>
    <setting id="MovieHomeItem.SubMenu" type="string">x10</setting>
    <setting id="WeatherFanartDir" type="string">http://aeon-nox-background-packs.googlecode.com/svn/trunk/weather-fanart/default/</setting>
    <setting id="MovieHomeItem.Path" type="string">ActivateWindow(Videos,MovieTitles,return)</setting>
    <setting id="TVShowHomeItem.InfoLine" type="string"></setting>
    <setting id="MusicHomeItem.InfoLine" type="string"></setting>
    <setting id="ShutdownHomeItem.Path" type="string"></setting>
    <setting id="TVShowHomeItem.BGType" type="string">2</setting>
    <setting id="Custom1HomeItem.Icon" type="string">special://skin/extras/icons/Customize.png</setting>
    <setting id="Custom1HomeItem.MultiFanart" type="string">special://home/media/Nox/movies/yellowjacket_ant_man-1920x1080.jpg</setting>
    <setting id="ProgramsHomeItem.Disable" type="string"></setting>
    <setting id="MusicVideoHomeItem.InfoLine" type="string"></setting>
    <setting id="Custom4HomeItem.InfoLine" type="string"></setting>
    <setting id="MusicHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom5HomeItem.BGType" type="string">2</setting>
    <setting id="InfoPanel.Delay" type="string"></setting>
    <setting id="Apps.Fallback" type="string"></setting>
    <setting id="MovieHomeItem.WidgetType" type="string">1</setting>
    <setting id="PicturesHomeItem.Icon" type="string"></setting>
    <setting id="MusicHomeItem.SubMenu" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="Custom1HomeItem.Widget" type="string"></setting>
    <setting id="ShutdownHomeItem.WidgetLabel" type="string"></setting>
    <setting id="SettingsHomeItem.SubMenu" type="string"></setting>
    <setting id="Custom3HomeItem.Widget" type="string"></setting>
    <setting id="ShutdownHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom6HomeItem.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.ukturk/?url=http://metalkettle.co/UKTurk2/SportsList.txt&amp;mode=1&amp;name=Sports&amp;iconimage=http://metalkettle.co/UKTurk2/thumbs/UK+TURK+sports.jpg&amp;description=&quot;,return)</setting>
    <setting id="54.Albums.InfoPanel" type="string"></setting>
    <setting id="FavoritesHomeItem.Label" type="string">WORKOUT</setting>
    <setting id="PicturesHomeItem.SubMenu" type="string"></setting>
    <setting id="ShutdownHomeItem.Label" type="string"></setting>
    <setting id="VideosHomeItem.InfoLine" type="string"></setting>
    <setting id="Custom2HomeItem.Widget" type="string"></setting>
    <setting id="FavoritesHomeItem.Disable" type="string"></setting>
    <setting id="ShutdownHomeItem.BGType" type="string">1</setting>
    <setting id="ShutdownHomeItem.MultiFanart" type="string">special://home/media/Nox/pow.jpg</setting>
    <setting id="MusicVideoHomeItem.Label" type="string">STAND UP</setting>
    <setting id="LiveTVHomeItem.InfoLine" type="string"></setting>
    <setting id="MovieHomeItem.Label" type="string">MOVIES</setting>
    <setting id="MusicHomeItem.BGType" type="string">2</setting>
    <setting id="MusicHomeItem.Label" type="string"></setting>
    <setting id="Custom2HomeItem.Disable" type="string"></setting>
    <setting id="MusicVideoHomeItem.Icon" type="string"></setting>
    <setting id="FavoritesHomeItem.SubMenu" type="string"></setting>
    <setting id="PicturesHomeItem.BGType" type="string">2</setting>
    <setting id="SettingsHomeItem.BGType" type="string">1</setting>
    <setting id="TVShowHomeItem.Icon" type="string">views/list/DefaultTVShows.png</setting>
    <setting id="LiveTVHomeItem.Icon" type="string">special://skin/extras/icons/Customize.png</setting>
    <setting id="VideosHomeItem.Widget" type="string"></setting>
    <setting id="VideosHomeItem.Disable" type="string"></setting>
    <setting id="ProgramsHomeItem.SubMenu" type="string"></setting>
    <setting id="VideosHomeItem.BGType" type="string">1</setting>
    <setting id="Custom6HomeItem.BGType" type="string">2</setting>
    <setting id="Custom6HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom6HomeItem.WidgetType" type="string"></setting>
    <setting id="Custom6HomeItem.SubMenu" type="string">x2</setting>
    <setting id="MusicVideoHomeItem.Disable" type="string"></setting>
    <setting id="ShutdownHomeItem.InfoLine" type="string"></setting>
    <setting id="SettingsHomeItem.Disable" type="string"></setting>
    <setting id="WeatherHomeItem.WidgetType" type="string"></setting>
    <setting id="MovieHomeItem.Icon" type="string">views/list/DefaultMovies.png</setting>
    <setting id="MusicHomeItem.Widget" type="string"></setting>
    <setting id="LiveTVHomeItem.Disable" type="string"></setting>
    <setting id="WeatherHomeItem.Disable" type="string"></setting>
    <setting id="LiveTVHomeItem.SubMenu" type="string">x404</setting>
    <setting id="VideoGenreFanartPath" type="string"></setting>
    <setting id="FavoritesHomeItem.MultiFanart" type="string">special://home/media/Nox/wo.jpg</setting>
    <setting id="MovieHomeItem.Disable" type="string"></setting>
    <setting id="System.Fallback" type="string"></setting>
    <setting id="ShutdownHomeItem.Disable" type="string"></setting>
    <setting id="MusicHomeItem.Disable" type="string"></setting>
    <setting id="PicturesHomeItem.Disable" type="string"></setting>
    <setting id="Custom1HomeItem.SubMenu" type="string">x202</setting>
    <setting id="PicturesHomeItem.InfoLine" type="string"></setting>
    <setting id="ShutdownHomeItem.Widget" type="string"></setting>
    <setting id="Custom6HomeItem.MultiFanart" type="string">special://home/media/Nox/sport/</setting>
    <setting id="Custom6HomeItem.Disable" type="string"></setting>
    <setting id="LiveTV.InfobarType" type="string"></setting>
    <setting id="VideosHomeItem.WidgetType" type="string"></setting>
    <setting id="53.TVShows.InfoPanel" type="string"></setting>
    <setting id="FavoritesHomeItem.BGType" type="string">1</setting>
    <setting id="MovieHomeItem.MultiFanart" type="string">special://home/media/Nox/movies/</setting>
    <setting id="SettingsHomeItem.Widget" type="string"></setting>
    <setting id="WeatherHomeItem.InfoLine" type="string"></setting>
    <setting id="Custom3HomeItem.InfoLine" type="string"></setting>
    <setting id="Custom3HomeItem.MultiFanart" type="string">special://home/media/Nox/dna.jpg</setting>
    <setting id="WeatherHomeItem.WidgetLabel" type="string"></setting>
    <setting id="WeatherHomeItem.SubMenu" type="string"></setting>
    <setting id="Custom1HomeItem.Path" type="string">ActivateWindow(Videos,root)</setting>
    <setting id="MusicHomeItem.WidgetLabel" type="string"></setting>
    <setting id="ItemToEdit.MultiFanart" type="string"></setting>
    <setting id="ItemToEdit.BGType" type="string"></setting>
    <setting id="MusicVideoHomeItem.MultiFanart" type="string">special://home/media/Nox/Comedy/</setting>
    <setting id="WeatherHomeItem.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.docuhub&quot;,return)</setting>
    <setting id="FavoritesHomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom5HomeItem.Icon" type="string">special://skin/extras/icons/Customize.png</setting>
    <setting id="Custom5HomeItem.WidgetType" type="string"></setting>
    <setting id="WeatherHomeItem.Widget" type="string"></setting>
    <setting id="FavoritesHomeItem.InfoLine" type="string"></setting>
    <setting id="FavoritesHomeItem.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.phstreams/?name=[COLOR+hotpink]Workout[/COLOR]&amp;url=http://honolulu.watchkodi.com/Fitness/Fitness%20Main.xml&amp;audio=0&amp;image=http://s6.postimg.org/re40an269/fitness_woman_perspiration_2_1.jpg&amp;fanart=http://7-themes.com/data_images/out/59/6973439-beautiful-forest-photos.jpg&amp;playable=false&amp;tvshow=0&amp;content=0&amp;action=ndmode&quot;,return)</setting>
    <setting id="LiveTVHomeItem.Path" type="string">ActivateWindow(Videos,Addons,return)</setting>
    <setting id="LiveTVHomeItem.Widget" type="string"></setting>
    <setting id="Overlay.Toggle" type="string"></setting>
    <setting id="Home_Custom_Back_TV_Folder" type="string"></setting>
    <setting id="ItemToEdit.WidgetLabel" type="string"></setting>
    <setting id="Custom4HomeItem.BGType" type="string">1</setting>
    <setting id="WeatherHomeItem.BGType" type="string">1</setting>
    <setting id="Movies.Fallback" type="string"></setting>
    <setting id="Custom6HomeItem.InfoLine" type="string"></setting>
    <setting id="ProgramsHomeItem.Icon" type="string"></setting>
    <setting id="PicturesHomeItem.MultiFanart" type="string">special://home/media/Nox/kids/</setting>
    <setting id="FavoritesHomeItem.WidgetType" type="string"></setting>
    <setting id="ProgramsHomeItem.MultiFanart" type="string">special://home/media/Nox/apps.jpg</setting>
    <setting id="WeatherHomeItem.Label" type="string">DOC HUB</setting>
    <setting id="LiveTV.Fallback" type="string"></setting>
    <setting id="Custom4HomeItem.Path" type="string">ActivateWindow(TVChannels)</setting>
    <setting id="LiveTV.EpgViewChannels" type="string"></setting>
    <setting id="WeatherHomeItem.MultiFanart" type="string">special://home/media/Nox/ufo1.jpg</setting>
    <setting id="MusicVideoHomeItem.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.phstreams/?name=[COLOR+orangered]S[/COLOR][COLOR+white]TAND[/COLOR]+[COLOR+orangered]U[/COLOR][COLOR+white]P[/COLOR]&amp;url=http://zenica.watchkodi.com/Directories/Main%20Directory/Stand%20Up%20Main.xml&amp;audio=0&amp;image=http://s6.postimg.org/5mj2hsrup/Stand_Up.png&amp;fanart=http://s6.postimg.org/4ph8mo5q9/Backdrop.png&amp;playable=false&amp;tvshow=0&amp;content=0&amp;action=ndmode&quot;,return)</setting>
    <setting id="Custom5HomeItem.WidgetLabel" type="string"></setting>
    <setting id="53.Sets.InfoPanel" type="string"></setting>
    <setting id="SettingsHomeItem.Path" type="string"></setting>
    <setting id="52.Movies.InfoPanel" type="string"></setting>
    <setting id="SettingsHomeItem.Icon" type="string"></setting>
    <setting id="52.Sets.InfoPanel" type="string"></setting>
    <setting id="WeatherHomeItem.Icon" type="string"></setting>
    <setting id="Custom4HomeItem.Widget" type="string"></setting>
    <setting id="ShutdownHomeItem.Icon" type="string"></setting>
    <setting id="52.TVShows.InfoPanel" type="string"></setting>
    <setting id="53.Movies.InfoPanel" type="string"></setting>
    <setting id="FavoritesHomeItem.Widget" type="string"></setting>
    <setting id="Custom4HomeItem.Disable" type="string"></setting>
    <setting id="Custom6HomeItem.Icon" type="string">views/list/DefaultVideo.png</setting>
    <setting id="SettingsHomeItem.WidgetType" type="string"></setting>
    <setting id="53.Seasons.InfoPanel" type="string"></setting>
    <setting id="MovieHomeItem.Widget" type="string">plugin://plugin.video.salts?section=Movies&amp;mode=trending</setting>
    <setting id="MusicHomeItem.MultiFanart" type="string">special://home/media/Nox/music/</setting>
    <setting id="Custom5HomeItem.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.phstreams/?name=Live+Football+Games&amp;url=http://shanghai.watchkodi.com/Sections/Sports/Live%20games%20+%20Events/Live%20Football.xml&amp;audio=0&amp;image=http://s20.postimg.org/9h2qqkysd/Football_Icon.png&amp;fanart=http://s20.postimg.org/id8xgs00t/Sports_Background.jpg&amp;playable=false&amp;tvshow=0&amp;content=0&amp;action=ndmode&quot;,return)</setting>
    <setting id="VideosHomeItem.MultiFanart" type="string">special://home/media/Nox/uktv.jpg</setting>
    <setting id="ProgramsHomeItem.Label" type="string"></setting>
    <setting id="54.Artists.InfoPanel" type="string"></setting>
    <setting id="Custom3HomeItem.Disable" type="string"></setting>
    <setting id="Custom6HomeItem.Widget" type="string"></setting>
    <setting id="Custom4HomeItem.Label" type="string">LIVE TV</setting>
    <setting id="SettingsHomeItem.MultiFanart" type="string">special://home/media/Nox/system.jpg</setting>
    <setting id="ItemToEdit.Widget" type="string"></setting>
    <setting id="PicturesHomeItem.Label" type="string">KIDS</setting>
    <setting id="Custom5HomeItem.Label" type="string">MATCHDAY</setting>
    <setting id="VideosHomeItem.SubMenu" type="string">x101</setting>
    <setting id="Custom4HomeItem.SubMenu" type="string">x12</setting>
    <setting id="Custom3HomeItem.SubMenu" type="string"></setting>
    <setting id="Custom1HomeItem.WidgetType" type="string"></setting>
    <setting id="TVShows.Fallback" type="string"></setting>
    <setting id="ProgramsHomeItem.Widget" type="string"></setting>
    <setting id="Custom3HomeItem.Path" type="string">ActivateWindow(10025,&quot;plugin://plugin.video.dnatv/?portal={&quot;name&quot;:+&quot;DNA+TV&quot;,+&quot;parental&quot;:+&quot;true&quot;,+&quot;url&quot;:+&quot;http://mw1.iptv66.tv&quot;,+&quot;mac&quot;:+&quot;00:1A:78:27:27:27&quot;,+&quot;serial&quot;:+{&quot;custom&quot;:+false},+&quot;password&quot;:+&quot;1234&quot;}&amp;mode=genres&quot;,return)</setting>
    <setting id="SettingsHomeItem.Label" type="string"></setting>
    <setting id="ItemToEdit.InfoLine" type="string"></setting>
    <setting id="MusicHomeItem.Path" type="string"></setting>
    <setting id="LiveTVHomeItem.Label" type="string">Featured</setting>
    <setting id="ProgramsHomeItem.Path" type="string"></setting>
    <setting id="Custom4HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom5HomeItem.InfoLine" type="string"></setting>
    <setting id="MovieHomeItem.WidgetLabel" type="string">Trending</setting>
    <setting id="ProgramsHomeItem.BGType" type="string">1</setting>
    <setting id="Videos.Fallback" type="string"></setting>
    <setting id="52.Artists.InfoPanel" type="string"></setting>
    <setting id="Custom4HomeItem.Icon" type="string">views/list/DefaultAddonPVRClient.png</setting>
    <setting id="ProgramsHomeItem.WidgetType" type="string"></setting>
    <setting id="TVShowHomeItem.Disable" type="string"></setting>
    <setting id="Custom5HomeItem.SubMenu" type="string">x606</setting>
    <setting id="Custom4HomeItem.MultiFanart" type="string">special://home/media/Nox/live.jpg</setting>
    <setting id="ProgramsHomeItem.WidgetLabel" type="string"></setting>
    <setting id="ItemToEdit.WidgetType" type="string"></setting>
    <setting id="Custom5HomeItem.Widget" type="string"></setting>
    <setting id="Custom5HomeItem.MultiFanart" type="string">special://home/media/Nox/KickOff/</setting>
    <setting id="Custom6HomeItem.Label" type="string">SPORTS</setting>
    <setting id="LiveTV.EpgViewType" type="string"></setting>
    <setting id="Custom4HomeItem.WidgetType" type="string"></setting>
    <setting id="Music.Fallback" type="string"></setting>
    <setting id="Custom5HomeItem.Disable" type="string"></setting>
    <setting id="LiveTVHomeItem.MultiFanart" type="string">special://home/media/Nox/movies/iron-man-26362-1920x1080.jpg</setting>
    <setting id="Custom2HomeItem.Icon" type="string">special://skin/extras/icons/Customize.png</setting>
    <setting id="TVShowHomeItem.WidgetType" type="string">1</setting>
    <setting id="Custom1HomeItem.WidgetLabel" type="string"></setting>
    <setting id="PicturesHomeItem.Path" type="string">ActivateWindow(Videos,Addons,return)</setting>
    <setting id="PicturesHomeItem.WidgetLabel" type="string">Kids Favourites</setting>
    <setting id="Startup_Playlist_Path" type="string">special://home/media/intro.mp4</setting>
    <setting id="MovieHomeItem.InfoLine" type="string"></setting>
    <setting id="Custom3HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom3HomeItem.BGType" type="string">1</setting>
    <setting id="TVShowHomeItem.WidgetLabel" type="string">Popular</setting>
    <setting id="TVShowHomeItem.Widget" type="string">plugin://plugin.video.salts/?mode=popular&amp;amp;section=TV</setting>
    <setting id="Custom1HomeItem.Label" type="string">POPULAR</setting>
    <setting id="LiveTVHomeItem.BGType" type="string">1</setting>
    <setting id="MusicVideoHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom1HomeItem.BGType" type="string">1</setting>
    <setting id="Custom2HomeItem.WidgetLabel" type="string"></setting>
    <setting id="Custom3HomeItem.Icon" type="string"></setting>
    <setting id="PicturesHomeItem.Widget" type="string">plugin://plugin.video.phstreams/?action=ndmode&amp;amp;audio=0&amp;amp;content=0&amp;amp;fanart=http%3a%2f%2fforumarchiwum.muve.pl%2fuploads%2fforum-post%2f20130828190540-ad3d6_521e2e37deffb.jpg&amp;amp;image=http%3a%2f%2fi.imgur.com%2fYXaY4BI.png&amp;amp;name=kids%20%26%20animation&amp;amp;playable=false&amp;amp;tvshow=0&amp;amp;url=http%3a%2f%2ftuzla.watchkodi.com%2fkids_animation.xml</setting>
    <setting id="VideosHomeItem.Icon" type="string">special://skin/extras/icons/Customize.png</setting>
    <setting id="LiveTVHomeItem.WidgetType" type="string"></setting>
    <setting id="Custom3HomeItem.WidgetType" type="string"></setting>
    <setting id="Custom1HomeItem.Disable" type="string"></setting>
    <setting id="Custom2HomeItem.BGType" type="string">1</setting>
    <setting id="Custom2HomeItem.SubMenu" type="string">x303</setting>
    <setting id="Custom1HomeItem.InfoLine" type="string"></setting>
    <setting id="Custom2HomeItem.WidgetType" type="string"></setting>
    <setting id="TVShowHomeItem.SubMenu" type="string">x11</setting>
    <setting id="Custom2HomeItem.InfoLine" type="string"></setting>
    <setting id="TVShowHomeItem.Path" type="string">ActivateWindow(Videos,TVShowTitles,return)</setting>
    <setting id="Custom3HomeItem.Label" type="string">DNA TV</setting>
    <setting id="ProgramsHomeItem.InfoLine" type="string"></setting>
    <setting id="VideosHomeItem.Path" type="string">ActivateWindow(Favourites)</setting>
    <setting id="VideosHomeItem.WidgetLabel" type="string"></setting>
</settings>
